/*Inter - font til brødtekst*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tenor+Sans&display=swap');

/*Tenor Sans - font til overskrifter*/
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

:root {
    --overskrift: "Tenor Sans", sans-serif;
    --font: "Inter", sans-serif;
    --rod: #a06161;
    --lysrod: #e1ccbe;
    --grøn: #e3eab3;
    --grå: #617180;
    --black: black;
}

main{
    padding-top: 110px;
}

/*fjerner default styles i h3 og h4*/
h3, h4, img{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    font: inherit;
  }

body{
    width: 100%;
    margin: 0%;
}


a{
    color: var(--black);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header dropdown menu*/
header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
    
}


header .navbar ul li a {
    
    padding: 18px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover {
    background: var(--rod);
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}


#logo{
    width: 100%;
    border: 2px solid pink;

}

.active{
    color: #a06161;
}

.navbar{
    position: fixed;
    display: flex;

    background: #fff;
    width: 100%;
    justify-content: space-between;
    font-family: var(--font);
    font-weight: 250;
    border: 2px solid yellow;

}

.menu{
    width: 60%;
    display: flex;
    justify-content: right;
    border: 2px solid blue;
}

.logo{
    width: 15%;
    padding-top: 8px;

}

.menupunkter{
    padding-top: 30px;
    padding-bottom: 0px;
    border: 2px solid red;
    margin-right: 75px;

}

.logind{
    padding-top: 30px;
    padding-right: 20px;
    margin-left: 50px;
    border: 2px solid green;

}


.ugecontainer{
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    border: 2px solid rgb(255, 174, 0);
    text-align: center;

}

.beskrivelse{
    text-align: center;
    min-width: 150px;
    max-width: 150px;
    border: 2px solid rgb(255, 102, 0);

}


h4{
    font-family: var(--font);
    font-weight: 200;
    font-size: large;
}

h3{
    font-family: var(--overskrift);
    font-size: larger;
}

p{
    font-family: var(--font);
    font-weight: 350;
    text-align: left;
}

footer{
    background-color: var(--rod);
}

.footcontainer{
    width: 100%;
    margin: auto;
    padding-left: 5px;
    border: 2px solid rgb(0, 30, 255);
    display: flex;
    justify-content: space-between;
    

}

.foot{
    width: 30%;
    border: 2px solid rgb(255, 0, 47);
    text-align: center;

}

#foot{
    padding-top: 10px;
    text-align: center;
}

.oplysninger{
    border: 2px solid rgb(179, 0, 255);

}

.socials{
    border: 2px solid rgb(0, 255, 55);
    img{
        width: 20%;
        padding-top: 20px;
    }
}



.billedecontainer{
    width: 100%;
    display: flex;
    justify-content: wrap;

}

.billede img{
    width: 100%;
}

.del{
    width: 50%;
    border: 2px solid yellowgreen;
}

.blok{
    display: flex;
    justify-content: block;
    border: 2px solid rgb(205, 50, 174);

}

.ret1{
    display: block;
    width: 55%;
    border: 2px solid rgb(50, 182, 205);

}
.ret2{
    display: block;
    width: 45%;
    border: 2px solid rgb(50, 182, 205);
    object-fit: cover;

}

.ret3{
    display: block;
    width: 40%;
    border: 2px solid rgb(50, 182, 205);

}
.ret4{
    display: block;
    width: 60%;
    border: 2px solid rgb(50, 182, 205);
    object-fit: cover;

}

#steak{
    width: 100%;
    height: 574px; 
    object-fit: cover;
    object-position: 80% 40%;
}

#pastagryde{
    width: 100%;
    height: 237px; 
    object-fit: cover;
    object-position: 80% 40%;
}

#pastapesto{
    width: 100%;
    height: 337px; 
    object-fit: none;
    object-position: 40% 40%;
}

#gronpasta{
    width: 100%;
    height: 237px; 
    object-fit: cover;
    object-position: 80% 200%;
}

#karry{
    width: 100%;
    height: 337px; 
    object-fit: cover;
    
}

#romo{
    width: 100%;
    height: 337px; 
    object-fit: cover;
    object-position: 80% 200%;
}

#cremetpasta{
    width: 100%;
    height: 237px; 
    object-fit: cover;
    object-position: 80% 50%;
  
}

#burger{
    width: 100%;
    height: 400px; 
    object-fit: cover;
    object-position: 80% 40%;

}


.artikel{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    
    border: 2px solid #617180;
}


.artikel2{
    width: 50%;
    border: 2px solid rgb(243, 28, 28);
    padding-left: 30px;

}

.artikel2{
    width: 90%;
    border: 2px solid rgb(243, 28, 28);
    padding-left: 30px;
    font-family: var(--font);
}

.video{
    width: 90%;
    border: 2px solid rgb(243, 28, 28);
    padding-bottom: 0px;

}

.artikel2 #tips{
    padding-top: 20px;
    padding-right: 10px;
    width: 90%;
    border: 2px solid rgb(243, 28, 28);
    padding-left: 30px;
    background-color: var(--grøn);

}

#artikel2{
    padding-top: 20px;

    width: 90%;
    background-color: var(--grøn);
}

#artikel2 ul{
    font-family: var(--font);
    font-weight: 350;
    padding-left: 15px;
}

#artikel2 li{
    padding-left: 15px;
}

