/*Inter - font til brødtekst*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tenor+Sans&display=swap');

/*Tenor Sans - font til overskrifter*/
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

/*variabler*/
:root {
    --overskrift: "Tenor Sans", sans-serif;
    --font: "Inter", sans-serif;
    --rod: #a06161;
    --lysrod: #e1ccbe;
    --grøn: #e3eab3;
    --grå: #617180;
    --black: black;
    --gennemsigtighvid: rgba(255,255,255,0.68);
}

/*sætter en padding på main så headeren ikke går over skriften/main*/
main{
    padding-top: 85px;
    min-height: 500px;
}

/*fjerner default styles i h3 og h4*/
h2, h3, h4, img{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    font: inherit;
}

h2{
    font-family: var(--overskrift);
    font-size: xx-large;
}

body{
    width: 100%;
    margin: 0%;
}


a{
    color: var(--black);
    text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Header dropdown menu - med brug af Murrats kode eksempel*/
header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}


header .navbar ul li a {
    padding: 10px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover {
    color: var(--rod);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top:0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}


#logo{
    width: 100%;
}


.navbar{
    position: fixed;
    display: flex;
    z-index: 100;
    background: #fff;
    width: 100%;
    justify-content: space-between;
    font-family: var(--font);
    font-weight: 250;
}

.menu{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.logo{
    width: 15%;
    padding-top: 10px;
    padding-left: 10px;
}

.menupunkter{
    padding-top: 45px;
    padding-bottom: 0px;
    margin-right: 95px;
}

.logind{
    padding-top: 30px;
    padding-right: 20px;
    margin-left: 50px;
}
/*slut på header*/

/*styling af skrifter*/
h4{
    font-family: var(--font);
    font-weight: 200;
    font-size: large;
}

h3{
    font-family: var(--overskrift);
    font-size: larger;
}

p{
    font-family: var(--font);
    font-weight: 350;
    text-align: left;
}

/*Footer*/
footer{
    background-color: var(--rod);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -5px;
    z-index: 100;
}

footer h3{
    font-size: xx-large;
}

.footcontainer{
    width: 95%;
    margin: auto;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

.foot{
    width: 30%;
    text-align: center;
}

#foot{
    padding-top: 10px;
    text-align: center;
    padding-top: 25px;
}

.oplysninger{
    padding-top: 20px;
    padding-left: 10px;
}

#socials{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.socials{
    margin: 5px;
}

.socials img{
    width: 100%;
    height: 70px;  
}


/*Index billeder*/
.billedecontainer{
    width: 100%;
    display: flex;
}

.billede img{
    width: 100%;
    margin-bottom:-5px;
}

.del{
    width: 50%;
}

.blok{
    display: flex;
}

.ret1{
    display: block;
    width: 55%;
    height: 574px;
}

.ret2{
    display: block;
    width: 45%;
    object-fit: cover;
}

.ret3{
    display: block;
    width: 40%;
}

.ret4{
    display: block;
    width: 60%;
    object-fit: cover;
}

/*størrelse på allede billeder*/
#steak{
    width: 100%;
    height: 571px; 
    object-fit: cover;
    object-position: 80% 40%;
}

#pastagryde{
    width: 100%;
    height: 237px; 
    object-fit: cover;
    object-position: 80% 40%;
}

#pastapesto{
    width: 100%;
    height: 337px; 
    object-fit: none;
    object-position: 40% 40%;
}

#gronpasta{
    width: 100%;
    height: 238px; 
    object-fit: cover;
    object-position: 80% 200%;
}

#karry{
    width: 100%;
    height: 337px; 
    object-fit: cover;   
}

#romo{
    width: 100%;
    height: 337px; 
    object-fit: fill;
}

#cremetpasta{
    width: 100%;
    height: 237px; 
    object-fit: cover;
    object-position: 80% 50%;
}

#burger{
    width: 209.5%;
    height: 407px; 
    object-fit: cover;
    object-position: 80% 40%;
}

/*Få en hvid gennemsigtig baggrund når man hover over billedet (grøn kartofflesalat) på billedefeedet (index siden)*/
.image1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle1 {
    transition: .5s ease;
    opacity: 0;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 350px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }
  
  .billede1:hover .image1 {
    opacity: 0.3;
  }
  
  .billede1:hover .middle1 {
    opacity: 1;
  }
  
  .text1 {
    width: 80%;
    color: black;
    font-size: 16px;
    padding: 16px 32px;    
  }

/*Få en hvid gennemsigtig baggrund når man hover over billedet (karry) på billedefeedet (index siden)*/
  .image2 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle2 {
    transition: .5s ease;
    opacity: 0;
    width: 25%;
    position: absolute;
    top: 490px;
    left: 1080px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }
  
  .billede2:hover .image2 {
    opacity: 0.3;
  }
  
  .billede2:hover .middle2 {
    opacity: 1;
    width: 25%;
  }
  
  .text2 {
    width: 100%;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }



/*Artikeler*/
/*hoved billedet under opskrift for kylling i karry*/
#forsteBoks {
    position: relative;
    top: 30%;
    left: 60px;
    width: 40%;
    background-color: var(--gennemsigtighvid);
    padding: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
}


.opskrifttitel {
    height: 500px;
    background: url(/images/karry.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}

/*hoved billedet under opskrift for kartoffelsalat*/
#andenBoks {
    position: relative;
    top: 30%;
    left: 60px;
    width: 40%;
    background-color: var(--gennemsigtighvid);
    padding: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
}


.opskrifttitel2 {
    height: 500px;
    background: url(/images/kartoffelsalat.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}


.artikel{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.artikel2{
    width: 90%;
    padding-left: 30px;
    font-family: var(--font);
}

.video{
    width: 94.9%;
    padding-bottom: 0px;
}


#tips{
    padding-top: 20px;
    padding-right: 10px;
    width: 90%;
    padding-left: 30px;
    background-color: var(--lysrod);
    font-family: var(--font);
    font-weight: 350;
}

#tips li{
    padding-top: 20px;
}

#tips ul{
    width: 90%;
}

.artikel2 #kommentarer{
    padding-top: 20px;
    padding-right: 10px;
    width: 90%;
    padding-left: 30px;
    background-color: var(--lysrod);
    font-family: var(--font);
    font-weight: 350;
}

.h3{
    margin-bottom: 50px;
    font-family: var(--overskrift);
    font-size: larger;
}

#artikel2{
    padding-top: 20px;
    background-color: var(--lysrod);
    width: 80%;
}

.tekst{
    width: 80%;
    
}

#artikel2 ul{
    font-family: var(--font);
    font-weight: 350;
    padding-left: 15px;
    line-height: 35px;
}

#artikel2 li{
    padding-left: 15px;
}

#tips ul{
    font-family: var(--font);
    font-weight: 350;
    padding-left: 15px;
}

#tips li{
    padding-left: 15px;
    line-height: 25px;
}

#tips{
    padding-bottom: 20px;
}

#mellemrum{
    line-height: 25px;
}

#kommentar{
    width: 95%;
    min-height: 120px;
    margin-top: -15px;
    border: 0px;
    padding-left: 10px;
}

/*svar til formular*/
#svar{
    position: relative;
    top:-25px;
    width: 95%;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    background-color: rgb(214, 214, 214);
    border: 0px;
}

#svar:hover{
    background-color: var(--rod);
}

#svarr{
    text-align: center;
}

/*Madplan*/
/*madplan - billedecontainer - kilde: https://www.w3schools.com/howto/howto_css_image_gallery_scroll.asp*/
div.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 0px;
  }
  
  div.scroll-container img {
    padding: 0px;
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    object-fit: cover;

  }
/*Skriften til Madplan*/
.ugecontainer{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;

    display: flex;
    width: 90%;
    justify-content: space-between;
    text-align: center;
}

.beskrivelse{
    text-align: center;
    min-width: 150px;
    max-width: 150px;
}

.beskrivelse p{
    text-align: center;
}